@import "../../static/scss/main.scss";

.chips {
    background-color: $chips-bckg;
    border-radius: 4px;
    border: $chips-border;
    display: inline-block;
    vertical-align: middle;
    padding: 3px 2px 1px 5px;
    margin-bottom: 5px;

    &.chips-selected {
        border-color: $chips-border-selected;
        background-color: $chips-bckg-selected;
        cursor: text;
    }

    &.chips-selected &__value {
        color: $chips-font-color-selected;
    }

    &:not(:last-child) {
        margin-right: 5px;
    }

    &__value {
        color: $chips-font-color;
        font-size: $font-size;
        font-family: $font-family;
        font-weight: $font-weight;
        vertical-align: unset;
        transition: $transition-chips;
        word-break: break-all;
    }

    &__close {
        color: $close;
        vertical-align: middle;
        padding-left: 5px;
        transition: $transition-chips;

        svg {
            width: 16px;
            height: 16px;
            vertical-align: text-top;
        }

        &:hover,
        &:focus,
        &:active {
            color: $close-hover;
        }
    }
}