// font
$font-size: 12px;
$font-family: sans-serif;
$font-weight: 500;


// color
$grey-50: #eff3fa;
$grey-100: #8b96aa;
$grey-200: #50607e;

$blue-100: #c9e4fc;
$blue-150: #99c3ee;
$blue-200: #5981a9;
$blue-500: #46a0f4;
$blue-600: #1d4776;
$blue-650: #184271;

$font-color: $grey-200;
$placeholder: $grey-100;
$bckg-field: $grey-50;
$close: $blue-200;

$chips-bckg: $blue-100;
$chips-font-color: $blue-600;
$chips-bckg-selected: $blue-150;
$chips-font-color-selected: $blue-650;
$chips-border-color: $blue-500;

$error: #dd6d52;

// border
$chips-border: 2px solid $chips-bckg;
$chips-border-selected: 2px solid $chips-border-color;
// transition