.title {
    font-size: 14px;
    font-weight: 400;
    width: 350px;
    margin: 0 auto 15px;
}

.subtitle {
    font-weight: 600;
}

.content {
    width: 600px;
    margin: 40px auto 0;
    padding-bottom: 40px;
}